<h1>
  {{title}}
</h1>

<body>
  <div>
    <input type="date" name="dtPicker" id="dtPicker" value="{{datePicked}}" (change)="go($event)" />
  </div>
  <div class="divLeft">
    <div class="" *ngFor="let issue of issues" [class.selected]="issue === selectedIssue" (click)="onSelect(issue)">
      <p class="detail" id="{{issue.id}}" >Issue#: {{issue.id}} Issue Update Date: {{issue.updated_at}}</p>
    </div>
  </div>
  <div class="divRight">
    <issue-detail [issue]="selectedIssue"></issue-detail>
  </div>
</body>