<h1>
  {{title}}
</h1>

<body>
  <input type="date" name="dtPicker" id="dtPicker" value="{{datePicked}}" (change)="go($event)" />
  <div>
    <!--see:https://github.com/matiboy/angular2-prettyjson-->
    <div *ngFor="let issue of issues">
      <prettyjson id="{{issue.id}}" [obj]="'Issue#: ' + issue.id + ' Issue Update Date: ' + issue.updated_at" (click)="idClicked($event, issue.id)"></prettyjson>      
      <prettyjson id="{{issue.id}}body" [obj]="issue" (click)="bodyClicked($event, issue.id)" style="display: none"></prettyjson>      
    </div>
  </div>
</body>